.ciwh{
margin: auto;
  width:50%;
  height:500px;
}

.carousel-control-prev,
.carousel-control-next {
  margin: auto;
  width: 18%; /* Adjust the width as needed */
  height: 100%; /* Adjust the height as needed */
  background-color: #8cbbed; 
  border-radius: 25px; 

}
.carousel-control-prev:hover,
.carousel-control-next:hover {
  background-color: #007bff; 
  
}